{% extends 'base.html' %}

{% block user %}
    {% include 'inc/member.html' %}
{% endblock user %}

{% block content %}
    {% for answer in answers %}
        {% include 'inc/answer.html' %}
    {% endfor %}

    <form>
        <div class="form-group row my-lg-2 mx-auto">
            <label class="col-sm-2 col-form-label"></label>
            <textarea class="form-control" rows="10" placeholder="Enter your comment"></textarea>
        </div>
    </form>
    <button class="btn btn-primary my-2 my-sm-0" type="submit">Answer</button>
{% endblock content %}