{% extends 'base.html' %}

{% block user %}
    {% include 'inc/member.html' %}
{% endblock user %}

{% block content %}
    <h3 class="pb-3 mb-4 text-monospace border-bottom">
        <a class="font-italic p-2" href="{% url 'questions' profile_=profile.id %}">New Questions</a>
        <a class="font-italic p-2" href="{% url 'hot' profile_=profile.id %}">Hot questions</a>
    </h3>
    {% for question in questions %}
        {% include 'inc/question.html' %}
    {% endfor %}

    {% include 'inc/pagination.html' %}
{% endblock content %}
