{% extends 'base.html' %}

{% block user %}
    {% include 'inc/visitor.html' %}
{% endblock user %}

{% block content %}
    <div class="col-md-8 align-items-center">
        <form class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Log in</h1>
            <label for="inputEmail" class="sr-only my-3">Email address</label>
            <input type="email" id="inputEmail" class="form-control my-3" placeholder="Email address" required autofocus>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control my-3" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log in!</button>
        </form>
        <div class="my-3">
            <a href="{% url 'registration' %}">create new account</a>
        </div>
    </div>
{% endblock content %}