{% extends 'base.html' %}

{% block user %}
    {% include 'inc/visitor.html' %}
{% endblock user %}

{% block content %}
    <div class="col-md-8 align-items-center">
        <form>
            <div class="form-group row my-lg-2">
                <label class="col-sm-2 col-form-label">login</label>
                <div class="col-sm-10">
                    <input class="form-control">
                </div>
            </div>
            <div class="form-group row my-lg-2">
                <label class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="email@example.com">
                </div>
            </div>
            <div class="form-group row my-lg-2">
                <label class="col-sm-2 col-form-label">Nickname</label>
                <div class="col-sm-10">
                    <input class="form-control">
                </div>
            </div>
            <div class="form-group row my-lg-2">
                <label class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" aria-describedby="passwordHelpBlock">
                </div>
            </div>
            <div class="form-group row my-lg-2">
                <label class="col-sm-2 col-form-label">Repeat</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" aria-describedby="passwordHelpBlock">
                </div>
            </div>
            <div class="form-group">
                <label>Your avatar</label>
                <div class="media">

                </div>
                <input type="file" class="form-control-file my-2">
            </div>
        </form>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register!</button>
    </div>
{% endblock content %}
