{% extends 'base.html' %}
{% load static %}

{% block user %}
    {% include 'inc/member.html' %}
{% endblock user %}

{% block content %}
    <div class="col-md-8 align-items-center">
        <form>
            <div class="form-group row my-lg-2">
                <label class="col-sm-2 col-form-label">login</label>
                <div class="col-sm-10 mx-auto">
                    <label>
                        <input class="form-control" placeholder="dd">
                    </label>
                </div>
            </div>
            <div class="form-group row my-lg-2">
                <label class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <label>
                        <input class="form-control" placeholder="{{ profile.email }}">
                    </label>
                </div>
            </div>
            <div class="form-group row my-lg-2">
                <label class="col-sm-2 col-form-label">Nickname</label>
                <div class="col-sm-10 mx-auto">
                    <label>
                        <input class="form-control" placeholder="{{ profile.username }}">
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>Your avatar</label>
                <div class="media">
                    <img src="{% static '' %}{{ profile.avatar }}" class="rounded border MaxImageSize">
                </div>
                <input type="file" class="form-control-file my-2">
            </div>
        </form>
    </div>
{% endblock content %}