<form class="m-2">
  <div class="form-group">
    <textarea class="form-control" id="question" rows="10" placeholder="Your answer here"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Answer</button>
</form>
