{% load static %}

<div class="container border rounded mb-4">
    <div class="row">
        <div class="statscontainer border">
            <a class="like mt-2"><i class="fa fa-thumbs-o-up"></i>
                Like <input class="qty1" name="qty1" readonly="readonly" type="text" value="{{ answer.dislikes|add:answer.rating }}" />
            </a>
            <a class="dislike mb-3 "><i class="fa fa-thumbs-o-down"></i>
                Dislike <input class="qty2"  name="qty2" readonly="readonly" type="text" value="{{ answer.dislikes }}" />
            </a>
        </div>
        <div class="col mb-1">
            <p class="mt-1">{{ answer.text }}</p>
            <div>
                {% include 'inc/user-answer.html' %}
            </div>
        </div>
    </div>
</div>

