{% load static %}

<div class="row">
    <h3 class="mx-1">New Questions</h3>
</div>

<form>
    <div class="form-group row my-lg-2 mx-auto">
        <label class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10 mx-auto">
            <input class="form-control">
        </div>
    </div>
    <div class="form-group row my-lg-2 mx-auto">
        <label class="col-sm-2 col-form-label">Text</label>
        <textarea class="form-control" rows="10"></textarea>
    </div>
    <div class="form-group row my-lg-4 mx-auto">
        <label class="col-sm-2 col-form-label">Tags</label>
        <input type="tags" class="form-control" id="tags" placeholder="moon, park, puzzle">
    </div>
    <button class="btn btn-primary my-2 my-sm-0" type="submit">ASK!</button>
</form>

