{% load static %}

<div class="row my-2 mx-2">
  <h2 class="font-weight-bold color-black mt-lg-4">Best Members</h2>
</div>
<div class="row">
    <a href="">Mr. Laika</a>
</div>
<div class="row">
    <a href="">Mrs. Bulldog</a>
</div>
<div class="row">
    <a href="">Sir Husky</a>
</div>
<div class="row">
    <a href="">Just a Wolf</a>
</div>
