{% load static %}

<div class="mr-2">
    <div class="media">
        <img src="{% static '' %}{{ profile.avatar }}" class="rounded border MaxImageSize">
        <div class="media-body">
            <h5 class="my-1 mx-5">{{ profile.username }}</h5>
            <div class="row">
                <div class="col">
                    <a class="my-2 mx-2" href="{% url 'profile' profile_=profile.id %}">Settings</a>
                </div>
                <div class="col">
                    <a class="my-2 mx-2" href="{% url 'login' %}">Log out</a>
                </div>
            </div>
        </div>
    </div>
</div>
