{% load static %}

<div class="wrap-pagination">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if paginator.prev_page >= 1 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ paginator.prev_page }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}

            {% for number in paginator.bounds %}
                {% if number != paginator.number %}
                    <li class="page-item"><a class="page-link" href="?page={{ number }}">{{ number }}</a></li>
                {% else %}
                    <li class="page-item active"><a class="page-link" href="?page={{ number }}">{{ number }}</a></li>
                {% endif %}
            {% endfor %}

            {% if paginator.next_page <= paginator.bounds|last %}
                <li class="page-item">
                <a class="page-link" href="?page={{ paginator.next_page }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
