{% load static %}

<div class="row my-2 mx-2">
  <h2 class="font-weight-bold color-black">Popular tags</h2>
</div>
<div class="row">
    {% for tag in question.tags.all %}
        <a href="{% url 'tag' tag_=tag.name profile_=profile.id %}" class="refs mr-1">{{ tag.name }}</a>
    {% endfor %}
</div>
<div class="row">
    {% for tag in question.tags.all %}
        <a href="{% url 'tag' tag_=tag.name profile_=profile.id %}" class="refs mr-1">{{ tag.name }}</a>
    {% endfor %}
</div>
<div class="row">
    {% for tag in question.tags.all %}
        <a href="{% url 'tag' tag_=tag.name profile_=profile.id %}" class="refs mr-1">{{ tag.name }}</a>
    {% endfor %}
</div>
