{% load static %}

<div class="contatiner border rounded mb-4">
    <div class="row">
        {% include 'inc/user-question.html' %}

        <div class="col mb-1">
            <a  class="refs" href="{% url 'question' profile_=profile.id qid_=question.id %}">{{ question.title }}</a>

            <p class="pt-1">{{ question.text|truncatechars:255 }}...</p>

            {% include 'inc/tags.html' %}
            {% include 'inc/statistic.html' %}
        </div>
    </div>
</div>
