{% load static %}

<div class="contatiner mb-4 border-bottom">
    <div class="row">
        <div class="col-1 col-md-2">
            <img src="{% static '' %}{{ question.photo }}" class="rounded border mr-3 ml-1 mt-1 mb-3 MaxImageSize">
            <input class="mr-3 ml-1 mt-1 pl-2 LikesCountForm"
                   min="{{ question.likes_count }}"
                   max= "{{ question.likes_count }}"
                   value="{{ question.likes_count }}"
                   type="number">
        </div>
        <div class="col mb-1">
            <h3 class="pb-3 mb-1">
                {{ question.title }}
            </h3>
            <div class="contatiner border rounded mb-4">
                <p class="mt-1">{{ question.text }}</p>
            </div>
            <div>
                Tags:
                {% for tag in question.tags.all %}
                    <a href="{% url 'tag' tag_=tag profile_=profile.id %}" class="refs mr-1">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>