<div class="StatsContainer border-right">
    <div class="vote mb-3 mt-2 ">
        <div class="votes">
            <div class="votes">
                <span class="vote-count-post ">
                    <strong>{{ question.rating }}</strong>
                </span>
            <div class="viewcount">votes</div>
            </div>
        </div>
    </div>
    <div class="status unanswered">
        <strong>{{ question.answers }}</strong>
        <div class="votes">answers</div>
    </div>
</div>