<div class="tags">
    Tags:
    {% for tag in question.tags.all %}
        <a href="{% url 'tag' tag_=tag profile_=profile.id %}" class="text-decoration-none refs mr-1">{{ tag }}</a>
    {% endfor %}
</div>
