<div class="started fr">
    <div class="user-info">
        <div class="user-gravatar32">
            <img src="{% static answer.author.avatar %}" class="rounded border" style="max-width: 50px;">
        </div>
        <div class="user-details offset-4">
            <a href="#" class="">{{answer.author.username}}</a>
            <div class="small" title="publicashion date">{{ answer.create_date|date:"SHORT_DATE_FORMAT" }}</div>
            <div class="small" style="color: var(--black-400);">rating {{ question.author.rating }}</div>
        </div>
    </div>
</div>