{% load static %}

<div class="mr-2">
    <div class="row">
        <div class="col">
            <a class="my-2" href="{% url 'registration' %}">Register</a>
        </div>

        <div class="col">
            <a class="my-2" href="{% url 'login' %}">Log out</a>
        </div>
    </div>
</div>